#loginRegisterContent{
    width:60%;
    height: 820px;
    margin: 0 auto;
    margin-top: 30px;

}
#loginContent {
    width:49.5%
}

#registerContent{
    width: 49.5%;
    float: right;
}

.loginRegisterHeader{
    width: 85%;
    height: 70px;
    margin:0 auto;
    margin-bottom: 10px;
    border-bottom: 3px solid rgba(255,255,255,0.5);
}

.loginRegisterText{
    font-size: 2em;
    margin-top: 30px;
    display:block;
    float:left;
    color: #3eaaf5;
}

#loginMainInputContent{
    width: 85%;
    margin: 0 auto;
    color: white;
}

#registerMainInputContent{
    width: 85%;
    margin: 0 auto;
    color: white;
    display: none;
}

#signUpContent{
    width: 85%;
    margin: 0 auto;
}

.userDetails {
    width: 100%;
    margin-top: 30px;
}

.label {
    display:inline-block;
    width:165px;
    height:24px;
    color: white;
    vertical-align:bottom;
    font-size:16px;
    /*font-weight:bold;*/
}

.txt {
    width:95%;
    height:35px;
    border: 1px solid #484848;
    border-radius:8px;
    background: rgba(255,255,255,0.8);
    font-size:20px;
    padding: 0 10px;
}

.button {
    width:130px;
    height:40px;
    font-size:18px;
    border-radius: 7px !important;
    margin-bottom: 20px;
}

#regBtn{
    width: 45%;
    height: 60px;
    display: block;
    margin: 45px auto 40px auto;
    font-size: 26px;
}
#regTxt1{
    display: block !important;
    font-size: 22px;
    margin: 40px auto;
    text-align: center;
}
#regTxt2{
    display: block !important;
    margin: 40px auto;
    text-align: center;
}