.myRides{
    /*max-width: 100%;*/
    max-height:100%;
    overflow-y: auto;
}

.myRide {
    width:99%;
    margin: 0 0 5px 0;

}

.myRide .header {
    width:100%;
    background-color: rgba(0,0,0,0.5);
    margin:0 0 0.5% 0;
    color:#3eaaf5;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.myRide .header *{
    display:inline-block;
    font-weight:bold;
    font-size: 1.2em;
}

.myRide .type {
    width:14%;
    margin-left: 1%;
}
.myRide .status{
    width:14%;
    direction: rtl;
    margin-right: 1%;
}

.myRide .route{
    width:70%;
    margin: 0 auto;
    font-size:1.02em;
    text-align: center;
}

.myRide .body{
    width: 99%;
    margin-left: 1%;
}

.myRide .left {
    display: inline-block;
    width:50%;
}

.myRide .right {
    float:right;
    display: inline-block;
    width:50%;
}

.myRide .rideDetail {
    margin:0 0 1.5% 0;
}

.myRide .rideDetail .detailHeader {
    display:block;
    font-weight:bold;
    margin:0 0 0.5% 0;
}

.myRide .rideDetail .detailContent {
    display:block;
    margin-left:1%;
}

.myRide .riders {
    width:100%;
    font-weight:bold;
}

.myRide .rider {
    width:95%;
    display:block;
    margin:3px 0 0 1%;
}

.myRide .rider .riderRank {
    margin-top:2px;
    padding:0 8px;
    float: right;
    height:18px;
}

.myRide .controls {
    width: 98.5%;
    margin: 5px 0 0 1.5%;
}

.myRide .controls .control {
    border:none;
    font-size:15px;
    margin:0 15px 10px 0;
    padding:0 8px;
    height:32px;
}
