#myRides{
    /*width:99%;*/
}

#myRides .pageHeader{
    height:65px;
    border-bottom: none;
}
#myRides #myRidesfilterType{
    position: absolute;
    bottom:6px;
    left:10px;
}

#myRides #myRidesfilterStatus{
    position: absolute;
    bottom:6px;
    /*left:170px;*/
    right:10px;
}

#myRides .pageHeader .btn{
    float:left;
    min-width:30px;
    padding:0 3px 0 3px ;
    margin-left:2px;
    border-radius: 0;
    line-height: 18px;
    font-size: 0.35em;
    color: #ced0cc;
}

.myRide {
    margin: 0 0 5px 0;
}

.myRide .header {
    width:100%;
    background-color: rgba(0,0,0,0.5);
    margin:0 0 0.5% 0;
    color:#3eaaf5;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.myRide .header *{
    display:inline-block;
    font-weight:bold;
    font-size: 1.2em;
}

.myRide .type {
    width:14%;
    margin-left: 1%;
}
.myRide .status{
    width:14%;
    direction: rtl;
    margin-right: 1%;
}

.myRide .route{
    width:70%;
    margin: 0 auto;
    font-size:1.02em;
    text-align: center;
    color:rgba(237,192,56,1);
}

.myRide .body{
    width: 99%;
    margin-left: 1%;
}

.myRide .left {
    display: inline-block;
    width:40%;
}
.myRide .middle{
    float:right;
    display: inline-block;
    width:25%;
}
.myRide .right {
    float:right;
    display: inline-block;
    width:35%;
}

.myRide .head {
    display: block;
    font-weight:bold;
}

.myRide .rideDetail {
    margin:0 0 1.5% 0;
}

.myRide .rideDetail .detailHeader {
    margin:0 0 0.5% 0;
}

.myRide .rideDetail .detailContent {
    margin-left:1%;
}

.myRide .line {
    width:95%;
    display:block;
    margin:3px 0 0 1%;
}

.myRide .line .riderRank {
    margin-top:2px;
    padding:0 8px;
    float: right;
    height:18px;
}

.myRide .controls {
    width: 98.5%;
    margin: 5px 0 0 1.5%;
}

.myRide .controls .control {
    border:none;
    font-size:15px;
    margin:0 15px 10px 0;
    padding:0 8px;
    height:2em;
}
