#publishPostRide{
    /*width: 98%;*/
    /*display: none;*/
}

.publishPostRideHeader{
    width: 45%;
    margin-left: 27.5%;
    color: #3eaaf5;
    font-size: 200%;
    text-align: center;
    margin-top: 1%;
    border-bottom: 1px solid white;
}


.label{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    position:relative;
}

.label:nth-of-type(4){
    height: 140px;
}

.label:last-of-type{
    height:50px;
    margin-bottom: 30px;
}

    .label .text{
        text-align: left;
        width: 25%;
        line-height: 40px;
        left:10%;
        font-size: 1.3em;
        position: absolute;
    }

    .label .inputText{
        width:48%;
        padding-left: 1%;
        left:40%;
        line-height:38px;
        border: 1px solid #484848;
        border-radius:8px;
        background: rgba(255,255,255,0.8);
        font-size:1.3em;
        position: absolute;
    }

    .label #submitButton{
        width:5%;
        left:90%;
        line-height:38px;
        font-size:26px;
        border-radius: 10px !important;
        position: absolute;
    }

    .label .publishPostButton{
        width:20%;
        line-height:50px;
        font-size:22px;
        border-radius: 10px !important;
        left: 25%;
        margin-bottom: 40px;
        position: absolute;
    }

    .label .clearButton{
        width:20%;
        line-height:50px;
        font-size:22px;
        border-radius: 10px !important;
        left: 55%;
        margin-bottom: 40px;
        position: absolute;
    }

.outPutText{
    width:48%;
    left:40%;
    height: 136px;
    padding-left: 1%;
    border: 1px solid #484848;
    border-radius:8px;
    font-size:1.2em;
    position: absolute;
    color: white;
}

#dateInput{
    width: 24% !important;
}

.timeInput{
    width: 24% !important;
}

.clearBtn{
    width: 8%;
    height: 18%;
    left: 102.7%;
    background-color: rgba(100,0,0,0);
    border-radius: 25%;
    position: absolute;
}

.clearBtn:hover{
    background-color: rgba(100,0,0,0.98);
}

#firsOut{
    width: 95%;
    position: absolute;
}

#firstButton{
    top: 1%;
    display: none;
}

#secondOut{
    width: 95%;
    top: 20%;
    position: absolute;
}

#secondButton{
    top: 21%;
    display: none;
}

#thirdOut{
    top: 40%;
    width: 95%;
    position: absolute;
}

#thirdButton{
    top: 41%;
    display: none;
}

#fourthOut{
    top: 60%;
    width: 95%;
    position: absolute;
}

#fourthButton{
    top: 61%;
    display: none;
}

#fifthOut{
    top: 80%;
    width: 95%;
    position: absolute;
}

#fifthButton{
    top: 81%;
    display: none;
}
