.publishPostRide{
    height:auto;
}

.publishPostRideHeader{
    width: 45%;
    margin-left: 27.5%;
    color: #3eaaf5;
    font-size: 36px;
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid white;
}
.label{
    margin-top: 40px;
    text-align: center;
}

    .label .text{
        display: inline-block;
        text-align: left;
        width: 150px;
        font-size: 24px;
    }

    .label .inputText{
        width:49%;
        height:35px;
        border: 1px solid #484848;
        border-radius:8px;
        background: rgba(255,255,255,0.8);
        /*background: rgba(100,0,0,0.2);*/
        font-size:24px;
        margin-left: 2%;
        padding-left: 1%;
    }

.dateInput{
    width:34% !important;
    padding-left: 16% !important;
}
.timeInput{
    width:33% !important;
    padding-left: 17% !important;
}

    .label .publishPostButton{
        width:20%;
        height:50px;
        font-size:22px;
        border-radius: 10px !important;
        margin-top: 20px;
        margin-left: 66.5%;
        margin-bottom: 40px;
    }