.publishPostRideHeader{
    width: 45%;
    margin-left: 27.5%;
    color: #3eaaf5;
    font-size: 200%;
    text-align: center;
    margin-top: 1%;
    border-bottom: 1px solid white;
}

#publishContent{
    height: 690px;
    color: #3eaaf5;
    margin-top: 20px;
}

#postContent{
    height: 470px;
    color: #3eaaf5;
    margin-top: 20px;
}

#publishContentLeft{
    width: 50%;
    margin-left: 3%;
    position: relative;
    /*background-color: #0185fd;*/
    height: 80%;

}

#postContentLeft{
    width: 50%;
    margin-left: 3%;
    position: relative;
    /*background-color: #0185fd;*/
    height: 80%;

}

#publishContentRight{
    width: 45%;
    /*background-color: #50506d;*/
    float: right;
    margin-left: 30px;
    height: 80%;
}

#postContentRight{
    width: 45%;
    /*background-color: #50506d;*/
    float: right;
    margin-left: 30px;
    height: 80%;
}

.label{
    margin-bottom: 20px;
    width: 99%;
    height: 55px;
    max-height: 140px;
    position: relative;
}

.stopOverLabel{
    /*border: 1px solid green;*/
    margin-bottom: 1px;
    padding-left: 1%;
    width: 97%;
    height: 50px;
    position: relative;
    /*border-bottom: 1px solid red;*/
}
.label:nth-child(4){
    margin-top: 20%;
}

.label:nth-child(5){
    margin-top: 12% !important;
}

#postContentRight .label:nth-child(4){
    margin-top: 11.9% !important;
}

#postContent .label:nth-last-child(1){
    margin-top: 2%;
    /*background-color: #3188c4;*/
}

#publishContent  .label:nth-last-child(1){
    /*background-color: #50506d;*/
    margin-top: 8.5%;
}
    .label .text{
        text-align: left;
        width: 40%;
        line-height: 25px;
        left:1%;
        font-size: 1.1em;
        position: absolute;
    }

    .label .inputText{
        width:85%;
        padding-left: 1%;
        left:1%;
        line-height:1.3em;
        border: 1px solid #484848;
        border-radius: 6px;
        background: rgba(255,255,255,0.8);
        font-size: 1.1em;
        top: 50%;
        position: absolute;
    }


    .label #submitButton{
        width:6.5%;
        height: 48%;
        left:90%;
        top:50%;
        line-height:1.4em;
        font-size:1.1em;
        border-radius: 6px !important;
        position: absolute;
    }

    .label .publishPostButton{
        width:16%;
        line-height:35px;
        font-size:18px;
        border-radius: 4px !important;
        left: 56%;
        margin-top: 10px;
        position: absolute;
    }

    .label .clearAllDataButton{
        width:16%;
        line-height:35px;
        font-size:18px;
        border-radius: 4px !important;
        left: 76%;
        margin-top: 10px;
        position: absolute;
    }

.radioInput{
    margin-top: 10%;
    margin-left: 2%;
    font-size: 0.8em;
}
input[type='radio'] {
    transform: scale(1.5);
}

input[type=radio]:checked + label {
    color: rgba(237,192,56,1);
}

input[type='radio'] + label {
    color: white;
    font-size: large;
    margin: 0 1em 0 0.2em;
}

#priceInput{
    width: 30%;
}

#postPriceInput{
    width: 30%;
}

.outPutTextSourceDest{
    width:84%;
    left:1%;
    height: 7%;
    padding-left: 1%;
    border: 1px solid #484848;
    border-radius:8px;
    font-size:1em;
    position: absolute;
    color: white;
}

#sourceOutDiv{
    margin-top: 3%;

}
#sourceOut{
    margin-top: 1%;
    margin-left: 1%;
}
#destOutDiv{
    margin-top: 81.5%;
}
#destOut{
    margin-top: 1%;
    margin-left: 1%;
}

.outPutText{
    margin-top: 14%;
    width:84%;
    left:1%;
    height: 50%;
    padding-left: 1%;
    border: 1px solid #484848;
    border-radius:8px;
    font-size:1em;
    position: absolute;
    color: white;
}

#dateInput{
    width: 55% !important;
}

.timeInput{
    width: 55% !important;
}

.clearBtn{
    width: 6%;
    height: 8%;
    left: 103.9%;
    background-color: rgba(100,0,0,0);
    border-radius: 6px;
    position: absolute;
}

.clearBtn:hover{
    background-color: rgba(100,0,0,0.98);
}

.stopOverOut{
    text-transform: capitalize;
    width: 95%;
    /*display: block;*/
    top: 12%;
    position: absolute;

}

.stopOverOutDetails{
    /*border: 1px solid blue;*/
    width: 97%;
    top: 60%;
    position: absolute;
    border-bottom: 1px solid white;

}
#stopOverLabelFirst{
    display: none;
}
#stopOverLabelSecond{
    display: none;
}
#stopOverLabelThird{
    display: none;
}
#stopOverLabelFourth{
    display: none;
}
#stopOverLabelFifth{
    display: none;
}

.stopTimeSpan{
    margin-left: 1%;
}

.stopTimeInput{
    color: black;
    background: rgba(255,255,255,0.8);
    border: 2px solid white;
    border-radius: 6px;
    margin-right: 7%;
    width: 10% !important;
    font-size: 90%;
    text-align: center;
}

.stopPriceSpan{

}

.stopPriceInput{
    color: white;
    background: #3eaaf5;/*rgba(255,255,255,0.8);*/
    border: 2px solid white;
    border-radius: 6px;
    /*margin-right: 30%;*/
    width: 10% !important;
    font-size: 90%;
    text-align: center;
    margin-bottom: 1%;
}

#firsOut{
}
#firsOutDetails{
}

#firstButton{
    top: 6%;
    display: none;
}

#secondOut{
}

#secondButton{
    top: 26%;
    display: none;
}

#thirdOut{
}

#thirdButton{
    top: 45%;
    display: none;
}

#fourthOut{
}

#fourthButton{
    top: 64%;
    display: none;
}

#fifthOut{
}

#fifthButton{
    top: 84%;
    display: none;
}

.radioDiv{
    margin-top: 30%;
    width: 80%;
}