#searchRide{

}

.searchRideLocations{
    font-size: 70%;
    height: 70px;
}

#searchInputCntent{
    width: 100%;
}

.searchText{
    width: 150px !important;
    font-size: 80% !important;
    color: white;
    font-weight: normal;

}

#destTextDiv{
    float: right;
    width: 45%;
}

#sourceTextDiv{
    width: 45%;
}

#reverseBtnDiv{
    align-content: center;
    float: right;
    width: 10%;
    font-size: 80%;

}

#reverseDirection{
    margin-top: 40%;
    margin-left: 30%;
}

#searchRide .label .inputText{
    height: 45%;
    width: 95%;
    font-size: 90%;
}

#timeInputContent{
    width: 50%;
}
#searchDate{
    width: 24%;
}

#searchTime{
    float: right;
    width: 18%;
    margin-right: 2%;
}

#searchFiltering{
    width: 50%;
    float: right;
}

#radioDiv .label input[type='radio'] {
    transform: scale(1);
}
#radioDiv #radioDiv2 input[type='radio'] + label {
    font-size: 60%;
    margin: 0 1% 0 0;
}

#radioDiv {
    width: 24%;
    float: right;
    margin-right: 2%;
}

#radioDiv2{
    padding-top: 9%;
}

.searchPriceDiv{
    float: right;
    width: 40%;
    background-color: #80808d;
}

#priceDiv{
    width: 15%;
    float: right;
    margin-right: 2%;

}

#searchBtnDiv{
    width: 10%;
    float: right;
    margin-right: 1.5%;
}

#searchBtn{
    margin-top: 35%;
    width: 100%;
    height: 50%;
    font-size: large;
}

/*------------------------------------------------------------------------*/

#searchResultsContentDiv{
    display: none;
}
.searchTable{
    width: 100%;
    text-align: center;
}

#tableHeaders{
    /*background-color: rgba(75,75,75,0.8);*/
    background-color: rgba(0,0,0,1);;
    font-size: 120%;
    height: 40px;
    /*font-weight: bold;*/
    color: #3eaaf5;
    /*color: #0185fd;*/
}
.headerCell{
    border: 1px solid white;
}
.tableRowDetails{
    font-size: 0.8em;
    border: 1px solid white;
    margin-top: 25%;
    height: 60px;
}

.tableRowDetails:nth-child(even){
    background-color: rgba(102,180,255 ,0.3);
}
.tableRowDetails:nth-child(odd){
    background-color: rgba(82,140,255 ,0.4);
}
.regularCell{
    border: 1px solid white;
}