#promotions{
    width: 100%;
    height:100%;
    position:relative;
}

#promotions .bestUsers{
    border:none !important;
    box-shadow: inset 1px 1px rgba(255,255,255,0.7), 1px 1px rgba(255,255,255,0.7);
}

.bestUsers{
    width:100%;
    height:49%;
    right:0;
}
#bestDrivers{
    margin: 0 0 1% 0;
}

.bestUsers .header {
    width:100%;
    color:#3eaaf5;
    font-size: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    height:6%;
}

.bestUsers .bestUsersContent{
    height:92%;
    width:100%;
}

/*#futureRides{*/
    /*width:100%;*/
    /*height:49%;*/
    /*position:absolute;*/
    /*right:0;*/
    /*top:50%;*/
/*}*/