/*-----------User Card-----------*/
#userCard {
    width: 100%;
    height:100%;
    position: relative;
}

.userHeader {
    width:100%;
    height:20%;
    left:88px;
    position: absolute;
}

.user {
    display:block;
    width: 100%;
}

#userName {
    font-size:1em;
    font-weight: bold;
    height:20px;
}

#userLastName {
    height:13px;
    font-size: 0.9em;
    font-weight: bold;
}

#userImg {
    top:2px;
    left:4px;
    width:80px;
    height:80px;
    background-image: url("../Images/jhonDo.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#userDetails {
    height:40px;
    width:100%;
}

.detail {
    width:100%;
    display: table;
    height:50%;
}

.detail1 {
    display:table-cell;
    width:13px;
    height: 100%;
}

.detail2 {
    display:table-cell;
    line-height: 100%;
    padding: 0 0 0 3px;
    font-size: 0.75em;
    vertical-align: middle;
}

#email{
    margin: 13px 0 0 0;
}

#email .detail1{
    background:url("../Images/at.png") no-repeat 10px 0;
    background-size:contain ;
    background-position: center;
}
#phone .detail1{
    background:url("../Images/phone.png") no-repeat 9px 0;
    background-size:contain;
    background-position: 100% 45%;
}

/*-----------User Card -- Ranking -----------*/

#ranks{
    height:45%;
    width:100%;
    top:120px;
    position:absolute;
}

#userCardControls{
    height:20%;
    top:80%;
    position:absolute;
}

.rank{
    height:45%;
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    position: relative;
}

.rank:nth-of-type(1){
    border-top: 1px solid rgba(255,255,255,0.4);
}

.rank .rankType {
    display: block;
    font-size: 1em;
    top:10px;
    left:5px;
    height:20%;
    width:100%;
    position:absolute;
}

.ratingHeader {
    font-size: 0.9em;
    height:15%;
    width:100px;
    position: absolute;
    top:35px;
    left:10px;
}
.stars{
    position:absolute;
    top:36px;
    left:120px;
    width:100px;
    height:15%;
}
.star {
    display: block;
    float:left;
    width:16px;
    height:16px;
    background-size: cover;
    background-position: center;
    margin-right: 4px;
}

.stars .full{
    background-image: url("../Images/fullStar.png");
}

.stars .half{
    background-image: url("../Images/halfstar.png");
}

.stars .empty{
    background-image: url("../Images/star.png");
}
.stars:hover {
    cursor: default;
}

.totalRating {
    position:absolute;
    width:28px;
    line-height:20px;
    top:35px;
    left:225px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-align: center;
    /*border:1px solid rgba(255,255,255,0.7);*/
    box-shadow: inset 1px 1px rgba(255,255,255,0.8), 1px 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    background: rgba(237,192,56,1);
}

.rankDetails{
    position:absolute;
    top:60px;
    left:10px;
    font-size: 0.75em;
}

.smallRating, .ridesCount, .ranksCount{
    font-weight: bold;
    font-size: 0.95em;
}
/*-----------Update Profile-----------*/
#userCardControls{
    position:absolute;
    top:330px;
    width: 100%;
}

#userCardControls .btn {
    position: absolute;
    width:40%;
    height:30px;
    border-radius:2px;
    font-size:14px;
}

#btnUpdateProfile{
    left:15px;
}

#btnLogout{
    left:50%;
}